# Env files
*.env
.npmrc
/.venv
/.venv/*
/venv
/venv/* 

# db
db.sqlite

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OS
.DS_Store
/static/css/style.css
__pycache__/
node_modules/
instance/db.sqlite
/instance/*