<!DOCTYPE html>
<html class="h-full">
  <title>Billy AI</title>
  <head>
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />

    <link
      href="http://fonts.googleapis.com/css?family=Karla"
      rel="stylesheet"
      type="text/css"
    />

    <!--<script src='static/render_page.html'></script>-->
    <script type="text/javascript" src="./static/jquery.js"></script>

    {% block head %} {% endblock %}
  </head>
  <body class="h-full">
    <div id="container" class="bg-white h-full flex flex-row">
      <!-- Sidebar -->
      {% include 'sidebar.html' %}

      <!-- Content Wrapper -->
      <div class="flex-1 h-full overflow-y-auto">
        <!-- Navigation -->
        {% include 'navbar.html' %}
        {# <div class="px-8">
          <div class="bg-gray-200 w-full h-px"></div>
        </div> #}
        
        <!-- Content -->
        <div class="py-8 px-8">{% block body %} {% endblock %}</div>
      </div>
    </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  {% block js %} {% endblock %}
</html>
